{% extends "_base.svh.jinja" %}
{% block comment_header %}
//==============================================================================
// Description: The Defines for the UVM {{ agent.name|upper }} Agent
//==============================================================================
{% endblock %}
{% block body %}
// TODO: Place any necessary typedefs and defines here
{% endblock %}