{% extends "_base.sv.jinja" %}
{% block comment_header %}
//==============================================================================
// Description: The Package for the UVM {{ agent.name|upper }} Agent
//==============================================================================
{% endblock %}
{% block body %}
package {{ agent.name }}_agent_pkg;

    import uvm_pkg::*;
    `include "uvm_macros.svh"
    `include "config_macro.svh"

    `include "src/{{ agent.name }}_defines.svh"

    `include "src/{{ agent.name }}_seq_item.svh"
    `include "src/{{ agent.name }}_agent_config.svh"
    `include "src/{{ agent.name }}_driver.svh"
    `include "src/{{ agent.name }}_monitor.svh"
    typedef uvm_sequencer #({{ agent.name }}_seq_item) {{ agent.name }}_sequencer;
    `include "src/{{ agent.name }}_agent.svh"

endpackage: {{ agent.name }}_agent_pkg
{% endblock %}
